body {
    font-family: Arial;
    margin: 0;
    padding: 20px;
    background-color: #f1f1f1;
}

* {
    box-sizing: border-box;
}

.row:after {
    content: '';
    display: table;
    clear: both;
}

header {
    background-color: #ffffff;
    padding: 30px;
}

header h1 {
    text-align: center;
    font-size: 60px;
    color: #000000;
    margin: 1.5 0px;
}

h2 {
    color: #000000;
    margin: 1.5 0px;
}

.left-column {
    float: left;
    width: 75%;
}

.right-column {
    width: 25%;
    float: right;
    padding-left: 20px;
}

.card {
    padding: 20px;
    background-color: #ffffff;
    margin-top: 20px;
}

.card img {
    width: 100%;
}

.right-column .card img {
    margin-bottom: 10px;
}

footer {
    background-color: #dddddd;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}


/*responsive */

@media(max-width:800px) {
    .left-column,
    .right-column {
        width: 100%;
        padding: 0px;
    }
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 50px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 50px;
}

nav ul li a {
    text-decoration: none;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
}

nav ul li button {
    font-size: 20px;
    color: white;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    font-family: sans-serif;
}

nav ul li button:hover {
    color: rgba(0, 183, 255, 0.527);
}

nav ul li a:hover {
    color: rgba(0, 183, 255, 0.527);
}