.resetPassword_form{
  margin-top: 50px;
}
.resetPassword_img {
  object-fit: contain;
  width: 170px;
  margin-top: -35px;
  margin-bottom: -35px;
}

.resetPassword {
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.resetPassword_form {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: fit-content;
  border: 1px solid lightgray;
  padding: 0px 20px;
  background-color: white;
}

.resetPassword_form > h2 {
  font-weight: 500;
  font-size: 27px;
  margin-bottom: 5px;
}

.resetPassword_para {
  font-size: 13px;
  font-weight: 400;
  margin-top: 8px;
}

.resetPassword_formOption {
  font-weight: 600;
  font-size: 13px;
  margin-top: 7px;
  margin-bottom: 5px;
}

.resetPassword_formText {
  width: 95%;
  padding: 7px;
  border-radius: 2px;
  border: 1px solid gray;
  margin-bottom: 5px;
  border-radius: 2px;
  outline: none;
}

.resetPassword_formText:focus {
  border: 1px solid #febd69;
  outline: 2px solid #febd69;
}

.resetPassword_formText[type="email"] {
  font-weight: lighter;
  font-size: 13px;
}

.resetPassword_resetPassword {
  margin: 15px 0px;
  margin-bottom: 45px;
  padding: 7px;
  border-radius: 2px;
  background-color: #febd69;
  border: 1px solid #846a29;
  cursor: pointer;
  color: #111;
  font-size: 15px;
  outline: none;
  text-align: center;
}

.resetPassword_resetPassword:hover,.resetPassword_resetPassword:focus {
  outline: 2px solid #febd69;
  background-color: #eeb160;
}