.subtotal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 100px;
  padding: 20px;
  background-color: #f3f3f3;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-left: 20px;
}

.subtotal > small {
  display: flex;
  align-items: center;
}
.subtotal > button {
  background-color: #febd69;
  border: 1px solid #846a29;
  outline: none;
  color: #111;
  border-radius: 2px;
  padding: 5px;
  width: 100%;
  cursor: pointer;
  margin-top: 10px;
}
.subtotal > button:hover,
.subtotal > button:focus {
  outline: 2px solid #febd69;
  background-color: #eeb160;
}

@media only screen and (max-width: 550px) {
  .subtotal {
    width: 100px;
    height: 200px;
  }
}
