:root {
    --themeColor1: #212529;
    --themeColor2: #c55f0b;
}

.themeColor2 {
    color: var(--themeColor2);
}

.bg-themeColor2 {
    background-color: var(--themeColor2);
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

nav {
    background-color: var(--themeColor1);
}

.navbar-brand, .navbar-nav>li>a, .dropdown-menu>li>a {
    color: var(--themeColor2);
}

.navbar-brand:hover, .navbar-nav>li>a:hover, .dropdown-menu>li>a:hover {
    color: white;
}

footer {
    background-color: var(--themeColor1);
    color: var(--themeColor2);
}